
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #FAFAFA; 
    color: #333; 
}
.carousel-item img {
    max-height: 420px;
    object-fit: cover; 
    width: auto; 
    margin: auto; 
}

header {
    background-color: #D32F2F; 
    color: #FFFFFF; 
    padding: 20px 0;
    text-align: center;
}

header h1 {
    padding-top: 15px;
    margin-top: 25px;
    font-size: 3rem;
    margin: 0;
}

header h2 {
    font-size: 1.2rem;
    margin: 5px 0 0;
}


.menu {
    display:flex;
    padding: 10px 0;
}

.lista-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.lista-menu li {
    margin: 0 15px;
}

.lista-menu a {
    
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.lista-menu a:hover {
    color: #FFC107; 
}


h3 {
    text-align: center;
    font-size: 6rem;
    color: #D32F2F;
}

h6 {
    text-align: center;
    font-size: 1.5rem;
    color: #666;
}

.seccion-tarjetas {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
    margin: 20px auto;
    max-width: 1000px;
    padding: 20px;
}



.Contenedor-enfermedades {
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.Contenedor-enfermedades:hover {
    background-color: #fff;
    transform: scale(1.05);
}


.Contenedor-causas {
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.Contenedor-causas:hover {
    background-color: #fff;
    transform: scale(1.05);
}


.Contenedor-tratamiento {
    background-color: #FFFFFF; 
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
}


.Contenedor-tratamiento:hover {
    background-color: #fff;
    transform: scale(1.05);
}


.Contenedor-enfermedades h6 {
    font-size: 1.2rem;
    color: #B71C1C;
}
.Contenedor-causas h6 {
    font-size: 1.2rem;
    color: #B71C1C;
}

.Contenedor-tratamiento h6 {
    font-size: 1.2rem;
    color: #B71C1C;
}

main p {
    font-size: 1rem;
    line-height: 1.6;
    color: #444;
}


.carousel-item img {
    max-height: 300px;
    object-fit: cover;
    width: 100%;
    margin: auto;
}

@media (max-width: 768px) {
    .carousel-item img {
        max-height: 200px;
    }
}
